{% if section.settings.header_style == 'header_style_1' %}

{% if template == 'index' %}
<header class="header-area header-padding-1 sticky-bar header-res-padding clearfix {% if section.settings.transparent_bar_enable %}transparent-bar{% endif %}" id="section-{{ section.id }}">
  {% include 'header-bottom' %}
</header>
{% else %}

<header class="header-area header-in-container clearfix" id="section-{{ section.id }}">
  {% include 'header-top-4' %}
  <div class="header-bottom sticky-bar header-res-padding">
    {% include 'header-bottom-7' %}
  </div>
</header>

{% endif %}


{% elsif section.settings.header_style == 'header_style_2' %}

{% if template == 'index' %}
<header class="header-area clearfix" id="section-{{ section.id }}">
  <div class="header-top-area header-padding-2">
    {% include 'header-top' %}
  </div>
  <div class="header-bottom sticky-bar header-res-padding header-padding-2">
    {% include 'header-bottom' %}
  </div>
</header>
{% else %}

<header class="header-area header-in-container clearfix" id="section-{{ section.id }}">
  {% include 'header-top-4' %}
  <div class="header-bottom sticky-bar header-res-padding">
    {% include 'header-bottom-7' %}
  </div>
</header>

{% endif %}


{% elsif section.settings.header_style == 'header_style_3' %}

{% if template == 'index' %}
<div class="home-sidebar-left" id="section-{{ section.id }}">
  {% include 'header-sidebar-area' %}
</div>
<header class="header-area header-padding-1 sticky-bar header-res-padding clearfix header-hm4-none " id="section-{{ section.id }}">
  {% include 'header-bottom-2' %}
</header>
{% else %}

<header class="header-area header-in-container clearfix" id="section-{{ section.id }}">
  {% include 'header-top-4' %}
  <div class="header-bottom sticky-bar header-res-padding">
    {% include 'header-bottom-7' %}
  </div>
</header>

{% endif %}


{% elsif section.settings.header_style == 'header_style_4' %}

{% if template == 'index' %}
<header class="header-area sticky-bar header-padding-3 header-res-padding clearfix {% if section.settings.transparent_bar_enable %}transparent-bar{% endif %} header-4" id="section-{{ section.id }}">
  {% include 'header-bottom-3' %}
</header>
{% else %}

<header class="header-area header-in-container clearfix" id="section-{{ section.id }}">
  {% include 'header-top-4' %}
  <div class="header-bottom sticky-bar header-res-padding">
    {% include 'header-bottom-7' %}
  </div>
</header>

{% endif %}



{% elsif section.settings.header_style == 'header_style_5' %}

{% if template == 'index' %}
<header class="header-area sticky-bar header-padding-3 header-res-padding clearfix {% if section.settings.transparent_bar_enable %}transparent-bar{% endif %} header-hm-7" id="section-{{ section.id }}">
  {% include 'header-bottom-4' %}
</header>
{% else %}

<header class="header-area header-in-container clearfix" id="section-{{ section.id }}">
  {% include 'header-top-4' %}
  <div class="header-bottom sticky-bar header-res-padding">
    {% include 'header-bottom-7' %}
  </div>
</header>

{% endif %}




{% elsif section.settings.header_style == 'header_style_6' %}

{% if template == 'index' %}
<header class="header-area clearfix header-hm8" id="section-{{ section.id }}">
  {% include 'header-top-2' %}
  <div class="header-bottom sticky-bar header-res-padding header-padding-2">
    {% include 'header-bottom-5' %}
  </div>
</header>
{% else %}

<header class="header-area header-in-container clearfix" id="section-{{ section.id }}">
  {% include 'header-top-4' %}
  <div class="header-bottom sticky-bar header-res-padding">
    {% include 'header-bottom-7' %}
  </div>
</header>

{% endif %}


{% elsif section.settings.header_style == 'header_style_7' %}

{% if template == 'index' %}
<header class="header-area clearfix header-hm9 {% if section.settings.transparent_bar_enable %}transparent-bar{% endif %}" id="section-{{ section.id }}">
  {% include 'header-top-3' %}
  <div class="header-bottom sticky-bar header-res-padding header-padding-2">
    {% include 'header-bottom-6' %}
  </div>
</header>
{% else %}

<header class="header-area header-in-container clearfix" id="section-{{ section.id }}">
  {% include 'header-top-4' %}
  <div class="header-bottom sticky-bar header-res-padding">
    {% include 'header-bottom-7' %}
  </div>
</header>

{% endif %}

{% else %}

<header class="header-area header-in-container clearfix" id="section-{{ section.id }}">
  {% include 'header-top-4' %}
  <div class="header-bottom sticky-bar header-res-padding">
    {% include 'header-bottom-7' %}
  </div>
</header>

{% endif %}
